*{
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul{
    display: flex;
    column-gap: 20px;
    padding: 10px 0;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.ul .li{
    list-style: none;
    font-size: 20px;
}

.ul .li a{
    color: aliceblue;
}

.ul svg{
    color: aliceblue;
}

.ul .li:nth-child(2) a{
    display: flex;
    align-items: center;
} 

.ul .li a:hover, .ul .li svg:hover{
    color: #111;
}
